mat-grid-tile {
  background: lightblue;
  // border: 1px solid black;
  border-radius: 10px;
  margin-right: 30px !important;
}

.small-card {
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  margin-left: 20px;
}

.card-icon {
  background-color: lightgrey;
}

.red-card {
  background-color: #E55451;
}

.blue-card {
  background-color: lightblue;
}

.test {
  text-decoration: line-through !important;
}