
<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">

  <div class="main" fxLayout="column" fxLayoutAlign="start center">

    <div style="flex: 1 1 auto; width: 100%;">
      <mat-grid-list cols="5" [gutterSize]="'5px'" rowHeight="fit">
        <mat-grid-tile (click)="picked(tile)"
            *ngFor="let tile of tiles"
            [style.background]="getCardColor(tile)"
            [style.box-shadow]="getBorderColor(tile)"
            [style.color]="getCardTextColor(tile)"
            class="main-tile">
          <div [style.text-decoration]="isLeader && tile.clicked ? 'line-through' : 'none'">{{tile.text | uppercase}}</div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div style="flex: 0 0 4px;"></div>

    <div class="bottom-nav" style="flex: 0 0 auto; width: 100%;">
      <div class="bottom-left">
        <button mat-icon-button class="bottom-icon-button" [class.leader-active]="isLeader" (click)="leaderSwitch()" [attr.aria-label]="isLeader ? 'Wróć do widoku gracza' : 'Zostań liderem'">
          <span *ngIf="!isLeader" class="material-symbols-outlined leader-crown-icon">crown</span>
          <mat-icon *ngIf="isLeader">person</mat-icon>
        </button>
        <button mat-icon-button class="bottom-icon-button" (click)="newGame()" aria-label="Nowa gra">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button class="bottom-icon-button" (click)="editWords()" aria-label="Edytuj hasła">
          <mat-icon>list</mat-icon>
        </button>
      </div>

      <div class="bottom-center">
        <div class="small-card red-card">{{redLeft}}</div>
        <div class="small-card blue-card">{{blueLeft}}</div>
      </div>

      <div class="bottom-right">
        <button mat-icon-button class="bottom-icon-button" (click)="openSnackBar()" aria-label="Pokaż czas">
          <mat-icon>timer</mat-icon>
        </button>
        <button mat-icon-button class="visibility-toggle"
                (click)="areClickedHidden = !areClickedHidden"
                [class.toggle-active]="areClickedHidden"
                [disabled]="clickedInThisGame === 0"
                [attr.aria-label]="areClickedHidden ? 'Pokaż słowa' : 'Ukryj słowa'">
          <mat-icon>{{ areClickedHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </div>

  </div>


</div>
